Repository m20-sch57/labyrinth, pull requests merged in 2019-05, with the labels that each got.

#148 [LR] profile design; room list design
  app/__init__.py
  app/routes.py
  app/static/images/avatars/8Cco7epWVi.png
  app/static/images/avatars/cClTa0ZJl2.png
  app/static/js/waiting_room.js
  app/static/stylesheets/form.css
  app/static/stylesheets/info_block.css
  app/static/stylesheets/light.css
  app/static/stylesheets/room_block.css
  app/static/stylesheets/svg.css
  app/static/stylesheets/vars.css
  app/templates/_login_block.html
  app/templates/_user_block.html
  app/templates/add_map.html
  app/templates/base.html
  app/templates/head.html
  app/templates/index.html
  app/templates/login_register/change_avatar.html
  app/templates/login_register/change_login.html
  app/templates/login_register/change_password.html
  app/templates/login_register/login.html
  app/templates/login_register/register.html
  app/templates/login_register/register_failed.html
  app/templates/profile.html
  app/templates/profile/_change_avatar.html
  app/templates/profile/_change_email.html
  app/templates/profile/_change_login.html
  app/templates/profile/_change_password.html
  app/templates/profile/_change_phone.html
  app/templates/profile/_change_status.html
  app/templates/profile/change_avatar.html
  app/templates/profile/change_login.html
  app/templates/profile/change_password.html
  app/templates/profile/profile.html
  app/templates/rooms/room_list.html
  app/templates/rooms/waiting_room.html
  app/templates/rules.html
  app/templates/sidebar_r_register.html
  database/room.py
Labels: design

#149 [LR] renamed le and lo
  LabyrinthEngine/__init__.py
  LabyrinthObjects/Vanilla/__init__.py
  app/routes.py
  labyrinth_engine/README.md
  labyrinth_engine/__init__.py
  labyrinth_engine/common_functions.py
  labyrinth_engine/labyrinth.py
  labyrinth_engine/labyrinth_object.py
  labyrinth_engine/load_save.py
  labyrinth_engine/lr_types.py
  labyrinth_engine/ui_buttons.py
  labyrinth_engine/ui_status_bars.py
  labyrinth_objects/DevelopersBacklog/__init__.py
  labyrinth_objects/DevelopersBacklog/consts.py
  labyrinth_objects/DevelopersBacklog/see_and_foresee.py
  labyrinth_objects/DevelopersBacklog/unexpected_moving.py
  labyrinth_objects/Vanilla/__init__.py
  labyrinth_objects/Vanilla/ammo.py
  labyrinth_objects/Vanilla/arsenal.py
  labyrinth_objects/Vanilla/bear.py
  labyrinth_objects/Vanilla/bomb.py
  labyrinth_objects/Vanilla/default_settings.json
  labyrinth_objects/Vanilla/dock.md
  labyrinth_objects/Vanilla/empty.py
  labyrinth_objects/Vanilla/exit.py
  labyrinth_objects/Vanilla/first_aid_post.py
  labyrinth_objects/Vanilla/gun.py
  labyrinth_objects/Vanilla/health.py
  labyrinth_objects/Vanilla/hole.py
  labyrinth_objects/Vanilla/legs.py
  labyrinth_objects/Vanilla/treasure.py
  labyrinth_objects/Vanilla/walls.py
  labyrinth_test.py
  tmp/example.map.json
Labels: labyrinth-engine, labyrinth-objects

#151 [LR-136] New maps for presentation
  labyrinth_maps/example/descr.txt
  labyrinth_maps/example/map.json
  labyrinth_maps/example/map.scheme
  labyrinth_maps/simple/descr.txt
  labyrinth_maps/simple/map.json
  labyrinth_maps/simple/map.scheme
  labyrinth_maps/training/descr.txt
  labyrinth_maps/training/map.json
  labyrinth_maps/training/map.scheme
  labyrinth_objects/Vanilla/default_settings.json
  labyrinth_test.py
  tmp/example.save.json
Labels: labyrinth-maps

#165 [LR-147] a lot of true treasures
  .gitignore
  labyrinth_engine/labyrinth.py
  labyrinth_engine/labyrinth_object.py
  labyrinth_engine/load_save.py
  labyrinth_maps/example/map.json
  labyrinth_maps/simple/map.json
  labyrinth_maps/simple/map.scheme
  labyrinth_maps/training/map.json
  labyrinth_objects/Vanilla/__init__.py
  labyrinth_objects/Vanilla/ammo.py
  labyrinth_objects/Vanilla/bear.py
  labyrinth_objects/Vanilla/default_settings.json
  labyrinth_objects/Vanilla/dock.md
  labyrinth_objects/Vanilla/exit.py
  labyrinth_objects/Vanilla/health.py
  labyrinth_objects/Vanilla/treasure.py
  labyrinth_objects/Vanilla/walls.py
  labyrinth_test.py
Labels: labyrinth-engine, labyrinth-maps, labyrinth-objects

#192 [LR-176] сообщение при успешном передвижении
  labyrinth_objects/Vanilla/default_settings.json
  labyrinth_objects/Vanilla/legs.py
Labels: labyrinth-objects

#191 [LR-179-180] Death
  labyrinth_engine/common_functions.py
  labyrinth_engine/labyrinth.py
  labyrinth_engine/labyrinth_object.py
  labyrinth_engine/load_save.py
  labyrinth_engine/lr_types.py
  labyrinth_maps/example/map.json
  labyrinth_maps/simple/map.json
  labyrinth_maps/training/map.json
  labyrinth_objects/Vanilla/__init__.py
  labyrinth_objects/Vanilla/ammo.py
  labyrinth_objects/Vanilla/death.py
  labyrinth_objects/Vanilla/default_settings.json
  labyrinth_objects/Vanilla/exit.py
  labyrinth_objects/Vanilla/health.py
  labyrinth_objects/Vanilla/treasure.py
  labyrinth_objects/Vanilla/walls.py
  labyrinth_test.py
Labels: labyrinth-engine, labyrinth-objects

#197 [LR-195] safe-trash
  labyrinth_engine/__init__.py
  labyrinth_engine/common_functions.py
  labyrinth_engine/labyrinth.py
  labyrinth_engine/labyrinth_object.py
  labyrinth_engine/lr_types.py
  labyrinth_objects/Vanilla/ammo.py
  labyrinth_objects/Vanilla/arsenal.py
  labyrinth_objects/Vanilla/bear.py
  labyrinth_objects/Vanilla/bomb.py
  labyrinth_objects/Vanilla/empty.py
  labyrinth_objects/Vanilla/exit.py
  labyrinth_objects/Vanilla/first_aid_post.py
  labyrinth_objects/Vanilla/gun.py
  labyrinth_objects/Vanilla/health.py
  labyrinth_objects/Vanilla/hole.py
  labyrinth_objects/Vanilla/walls.py
  labyrinth_test.py
Labels: labyrinth-engine

#202 [LR ]fixed labyrinth bugs
  labyrinth_engine/labyrinth.py
  labyrinth_engine/labyrinth_object.py
  labyrinth_objects/Vanilla/exit.py
Labels: bug
