Repository m20-sch57/labyrinth, pull requests merged in 2019-02, with the labels that each got.

#83 [LR-41] from HTML to JS
  app/static/js/game_room.js
  app/static/js/waiting_room.js
  app/templates/rooms/game_room.html
  app/templates/rooms/waiting_room.html
Labels: JS

#87 [LR-81] interface API - buttons
  LabyrinthEngine/__init__.py
  LabyrinthEngine/game.py
  LabyrinthEngine/labyrinth.py
  LabyrinthEngine/labyrinth_object.py
  LabyrinthEngine/lr_types.py
  LabyrinthEngine/ui_buttons.py
  LabyrinthObjects/Vanilla/NPCs.py
  LabyrinthObjects/Vanilla/appear_and_disappear.py
  LabyrinthObjects/Vanilla/go_out_and_rest.py
  LabyrinthObjects/Vanilla/hurt_and_break.py
  LabyrinthObjects/Vanilla/move_and_bump.py
  LabyrinthObjects/Vanilla/silly_items.py
  labyrinth_test.py
Labels: labyrinth-engine

#93 [LR-12] Game room template
  app/static/js/game_room.js
  app/static/stylesheets/light.css
  app/templates/base.html
  app/templates/rooms/game_room.html
  tmp/K9IqHMhj.save.json
Labels: templates
