Repository m20-sch57/labyrinth, pull requests merged in 2019-01, with the labels that each got.

#56 [LR-55] removed ObjectID
  Labyrinth/LS_hole.py
  Labyrinth/LS_walk.py
  Labyrinth/game.py
  app/__init__.py
  app/routes.py
  database.py
  labyrinth_test.py
  labyrinths_list.py
Labels: labyrinth-module

#58 [LR-55] update docs (id problems)
  Labyrinth/game.py
  Labyrinth/gameAPI.md
Labels: docs, labyrinth-module

#57 [LR-45] js game room
  app/routes.py
  app/static/js/game_room.js
  app/static/js/toggle.js
  app/static/js/waiting_room.js
  app/static/stylesheets/light.css
  app/templates/base.html
  app/templates/rooms/game_room.html
  app/templates/rooms/waiting_room.html
  database.py
  labyrinth_test.py
  labyrinths_list.py
Labels: JS

#60 [LR-49] Fixed some points
  Labyrinth/LS_CONSTS.py
  Labyrinth/LS_NPCs.py
  Labyrinth/LS_hurt_and_break.py
  Labyrinth/LS_move_and_bump.py
  Labyrinth/LS_silly_items.py
  Labyrinth/game.py
Labels: labyrinth-module

#61 [LR-49] Fixed #49 one more time.
  LabyirnthConsts/Basic/CONSTS.py
  Labyrinth/LS_NPCs.py
  Labyrinth/LS_appear_and_disappear.py
  LabyrinthEngine/LTypes.py
  LabyrinthEngine/__init__.py
  LabyrinthEngine/game.py
  LabyrinthObjects/DevelopersBacklog/__init__.py
  LabyrinthObjects/Vanilla/NPCs.py
  LabyrinthObjects/Vanilla/__init__.py
  LabyrinthObjects/Vanilla/appear_and_disappear.py
  LabyrinthObjects/Vanilla/go_out_and_rest.py
  LabyrinthObjects/Vanilla/hurt_and_break.py
  LabyrinthObjects/Vanilla/move_and_bump.py
  LabyrinthObjects/Vanilla/silly_items.py
  LabyrinthObjects/__init__.py
  database.db
  labyrinth_module_API.md
  labyrinth_test.py
Labels: labyrinth-engine

#67 [LR-49] Fixed some new points
  LabyrinthObjects/Vanilla/move_and_bump.py
Labels: labyrinth-objects

#43 [LR - 2] #27 LS_weapon and #35 LS_locations
  LabyirnthConsts/Basic/CONSTS.py
  Labyrinth/LS_hole.py
  Labyrinth/LS_walk.py
  LabyrinthEngine/LTypes.py
  LabyrinthEngine/__init__.py
  LabyrinthEngine/game.py
  LabyrinthObjects/DevelopersBacklog/__init__.py
  LabyrinthObjects/Vanilla/NPCs.py
  LabyrinthObjects/Vanilla/__init__.py
  LabyrinthObjects/Vanilla/appear_and_disappear.py
  LabyrinthObjects/Vanilla/go_out_and_rest.py
  LabyrinthObjects/Vanilla/hurt_and_break.py
  LabyrinthObjects/Vanilla/move_and_bump.py
  LabyrinthObjects/Vanilla/silly_items.py
  LabyrinthObjects/__init__.py
  labyrinth_module_API.md
  labyrinth_test.py
  tmp/test.save.json
Labels: labyrinth-engine

#72 [LR] docs update (get_children)
  labyrinth_module_API.md
Labels: docs
